

/ TODO: add second shift relation buttons here too

- if connection_request.connection_type == 'mentor_match'
  = link_to 'View Profile', mentor_match_profile_path(connection_request.other_user(current_user).mentor_match_profile), class: 'mui-btn mui-btn--primary'
        
