h3 Update CV by Email
p You can update your CV by sending it as an email attachment. Click below to send update by email instructions to get started.
= form_with url: resend_cv_email_my_cv_path, class: 'mui-form' do |form|
  = form.submit "Send Instructions", class: "mui-btn inline"
