
a style="font-weight: 500; font-size: 14px; line-height: 18px; text-transform: uppercase; color: white; #{background_colour} -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; display: inline-block; height: 36px; padding: 0 26px; margin: 6px 8px 6px 0px; border: none; border-radius: 2px; cursor: pointer; -ms-touch-action: manipulation; touch-action: manipulation; background-image: none; text-align: center; line-height: 36px; vertical-align: middle; white-space: nowrap; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; font-size: 14px; #{font_family} letter-spacing: 0.03em; position: relative; overflow: hidden; text-decoration: none;" target="_blank" href=href = link_text
