

= render 'mentor_match_profiles/info', profile: @mentor_match_profile
= render 'mentor_match_profiles/full_info', profile: @mentor_match_profile
= render 'mentor_match_profiles/cv_button', profile: @mentor_match_profile
= render 'mentor_match_profiles/connection_buttons', profile: @mentor_match_profile


