
.mui-container
  = render 'service_postings/info', service_posting: @service_posting, show_connection_buttons: true, matches: @service_posting.full_matches
  = render 'service_postings/owner_buttons', service_posting: @service_posting

