

- content_for :single_column do

  h1 Common Home

/ .mui-container
/   .mui-appbar.mui--bg-color-red-200

/     / ul.mui-tabs__bar
/     /   li.mui--is-active
/     /     a data-mui-toggle="tab" data-mui-controls="pane-default-1"
/     /       | Tab-1
/     /   li
/     /     a data-mui-toggle="tab" data-mui-controls="pane-default-2"
/     /       | Tab-2
/     /   li
/     /     a data-mui-toggle="tab" data-mui-controls="pane-default-3"
/     /       | Tab-3


/   .mui-panel
/     h1 Home
/     / button.mui-btn.mui-btn--primary
/     /   | My Button
/     / #pane-default-1.mui-tabs__pane.mui--is-active
/     /   | Pane-1
/     / #pane-default-2.mui-tabs__pane
/     /   | Pane-2
/     / #pane-default-3.mui-tabs__pane
/     /   | Pane-3
