= render 'shared/cv_form', update_path: update_cv_my_cv_path
= render 'shared/cv_personal_information_warning'
= render 'mentor_match_profiles/cv_button', profile: current_user.mentor_match_profile
= render 'shared/cv_email_update_button'



