
h2 My Mentor Match Profile

= render 'mentor_match_profiles/info', profile: @mentor_match_profile
= render 'mentor_match_profiles/full_info', profile: @mentor_match_profile
= render 'mentor_match_profiles/cv_button', profile: @mentor_match_profile




= link_to 'Edit my Profile', edit_my_mentor_match_profile_path, class: 'mui-btn'
= link_to 'Update my CV', edit_cv_my_mentor_match_profile_path, class: 'mui-btn'

